.allClothes {
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 45px;
  text-align: center;
}

.allClothesWhenModal {
  padding: 0px;
}

.eachClothe {
  width: 20%;
  min-width: 200px;
  box-shadow: 0 5px 16px var(--shadow-color);
  position: relative;
  padding: 30px;
  border-radius: 20px;
}

.eachClothe:hover {
  transform: scale(1.1);
  transition: transform 330ms ease-in-out;
}

.clotheName {
  font-size: 1em;
  font-weight: initial;
}

.clotheDescr {
  text-align: justify;
}

.clotheImage {
  height: 100px;
}

.clothePrice {
  border-radius: 5px;
  display: inline-block;
  font-size: 1.2em;
  font-weight: bold;
  background-color: var(--second-color);
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 2px 5px;
}

.clotheLogo {
  width: 10%;
  position: absolute;
  left: 10px;
  top: 10px;
}
