.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: var(--main-bg-color);
}

.navlist {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  gap: 20%;
  color: white;
  font-weight: bold;
  font-size: 1.2em;
  padding-right: 10px;
}

.navLink:link,
.navLink:visited {
  text-decoration: none;
  color: white;
}

.navLink:hover {
  color: var(--second-color);
}

.basket {
  color: white;
  font-size: 2em;
}

.basketCart {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.itemsCount {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  background-color: red;
  text-align: center;
  font-size: 0.8em;
}
