.return {
  position: absolute;
  top: 1.5em;
  left: 3em;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}

.adminTitle {
  justify-self: center;
}

.admin {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.adminInfo {
  display: flex;
}

.adminInfo input,
.adminInfo label {
  width: 10rem;
}

.adminButton {
  background-color: var(--main-bg-color);
  border-radius: 5px;
  color: white;
  padding: 15px;
  border: none;
  box-shadow: 5px 5px 5px grey;
  cursor: pointer;
}

.adminButton:active {
  transform: translate(1px, 2px);
}

.adminEntry {
  width: 30rem;
  background-color: var(--main-bg-color);
  border-radius: 5px;
  color: white;
  padding: 15px;
  border: none;
  box-shadow: 5px 5px 5px grey;
  cursor: pointer;
}

.yellow {
  background-color: var(--second-color);
}

.light-blue {
  background-color: var(--third-color);
}

.adminEntry:active {
  transform: translate(1px, 2px);
}
